<body>
  <h1>Confirm your email address</h1>
  <p>Welcome to your app! Please click the link below to confirm your email address:</p>
  <p><%= link_to 'Confirm Email', @confirmation_url %></p>
</body>
</html>
